
[Unit]
Description=Auto locker using xautolock

[Service]
ExecStart=/usr/bin/xautolock -time 3 -corners +--- -cornersize 20 -cornerredelay 15 -notify 5 -notifier "~/dotfiles/i3/scripts/fade_brightness.sh" -locker "pgrep i3lock || ~/dotfiles/i3/scripts/lockscreen.sh" -killtime 15 -killer "xset dpms force off" -detectsleep
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=default.target
