URxvt*font: xft:Source\ Code \Pro\ for\ Powerline,Source\Code\ Pro\ Medium:size=11
URxvt.letterSpace: 1 
xterm*autoWrap:        true
!URxvt.background:      [70]#000000
!xterm*faceName:        DejaVu Sans Mono Bold:pixelsize=13
xterm*metaSendsEscape: true
! colors (bl re gr ye bl ma cy wh)
! normal
xterm*color0:          #000000
xterm*color1:          #FF3232
xterm*color2:          #009600
xterm*color3:          #BEBE00
xterm*color4:          #6464FF
xterm*color5:          #AF6400
xterm*color6:          #00B4B4
xterm*color7:          #969696

! bright/bold
xterm*color8:          #5A5A5A
xterm*color9:          #FF4B4B
xterm*color10:         #00B400
xterm*color11:         #FF7F00
xterm*color12:         #7D7DFF
xterm*color13:         #EB4BEB
xterm*color14:         #5AFFFF
xterm*color15:         #D2B48C

! fore-/background
xterm*foreground:      #DDDDDD
xterm*background:      #000000

!font
!URxvt.font:xft:Inconsolata:pixelsize=11
!URxvt.boldfont:xft:Inconsolata-Bold:pixelsize=11
!URxvt.italicfont:xft:Inconsolata-Italic:pixelsize=11
!URxvt.boldItalicfont:xft:Inconsolata-Bold:pixelsize=11
! cursor
xterm*cursorColor:     #000000
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: true
!URxvt.perl-ext-common: font-size
!URxvt.imLocale: en_US.UTF-8

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: tabbed,confirm-paste,default,clipboard,url-select,option-popup,block-graphics-to-ascii
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

urxvt*perl-lib: /usr/lib/urxvt/perl/
!!urxvt*perl-ext-common: default,matcher,tabbed,clipboard,confirm-paste,bell-command
urxvt*urlLauncher: /usr/bin/firefox
urxvt*matcher.button: 2
urxvt*matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

!!TABED

URxvt.tabbed.new-button: true
URxvt.tabbed.autohide: true
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    7
URxvt.tabbed.tab-bg:    0

